{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    {% if next %}
        {% if user.is_authenticated %}
            <p>No tienes permisos para acceder a esta página. Para proceder,
                ingresa con una cuenta que tenga los permisos necesarios.</p>
        {% else %}
            <p>Por favor, ingrese sus datos para ver esta página.</p>
        {% endif %}
    {% endif %}
        
    <form method="post" action="{% url 'login' %}" class="login-form">
        {% csrf_token %}
        <div>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </div>
        <div>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </div>
        
        <div>
            <input type="submit" value="Login" class="submit" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        {% if form.errors %}
            <p class="message-error">El usuario y la contraseña no concuerdan. Por favor, intenta de nuevo</p>
        {% endif %}
    </form>
</div>
{% endblock %}