.container-columns {

}

.column-item-title {
    margin-top: 20px;
    font-size: 1.6em;
    text-transform: none;
    float: left;
}

.column-item-description {
    margin-top: 20px;
    font-size: 1.3em;
    text-transform: none;
    float: left;
}

.column-item-action {
    margin-top: 20px;
    font-size: 1.229em;
    text-transform: none;
    float: right;
}

.column-item-info {
    border-top: 1px dashed #e3e3e3;
    display: inline-block;
    margin-top: 8px;
    padding-top: 11px;
    width: 100%;
    font-size: 0.929em;
    line-height: 1.2em;
}

.column-item-price {
    font-size: 1.229em;
    text-transform: none;
    float: right;
}

.login-container {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 60px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form .submit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-form .message-error {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    color: red;
    width: 100%;
    border: 0;
    font-size: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

