{% load static %}
{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSA</title>
    {% block header_styles %}{% endblock header_styles %}
    <!-- Se que esta agregado bootstrap4 y css pero si no agrego esto no se ve bien el formulario los iconos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body style="padding-top: 70px">
{% block body %}
    <div class="header" style="padding-bottom:30px">
        <div class="container">
          {% block page_header %}{% endblock page_header %}
        </div>
    </div>

    <div class="container">
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
    </div>

{% endblock body %}
  {% bootstrap_javascript jquery=1 %}
  {% block footer_scripts %}{% endblock footer_scripts %}
</body>

</html>
