{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block page_header %}
    <div class="text-left float-left">
        <h1>Categories</h1>
    </div>
{% endblock page_header %}

{% block content %}

    <a href="{% url 'category' %}">
        <button type="button" class="btn btn-success mb-1">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </a>
    <br>

    {% for category in elements.categories %}
            <div class="column-item-title">
                {{ category.name }}
            </div>
            <div class="column-item-action">
                <a href="{% url 'productChoice' category=category.name%}">
                    <button type="button" class="btn btn-success mb-1">
                            <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </a>
            </div>
            <div class="column-item-info">
                {%for product in elements.products %}
                    {%if product.category == category %}
                    <br>
                    {{ product.name }}
                    {% endif %}
                {% endfor %}
            </div>
    {% endfor %}

{% endblock %}
