{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block page_header %}
    <div class="text-left float-left">
        <h1>Menu</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="text-center border-bottom border-danger">
        <h1 class="display-4">Menú del Dia <span class="badge bg-success"><span class="glyphicon glyphicon-star"></span>-15%</span></h1>
    </div>
    <div>
    {% for special in menu.specials %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-sm">

            <div class="column-item-title">
                {{ special.get_type_display }}
            </div>
            <div class="column-item-info">
                {{ special.product.name }}
                <br>
                {{ special.product.discountPrice }}
            </div>

        </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>


    <br>
    <br>
    <div class="text-center border-bottom border-danger">
        <h1 class="display-4">Menú</h1>
    </div>
    {% for product in menu.products %}
        {% if forloop.first %}<div class="row align-items-end">{% endif %}
            <div class="col-sm-9">
                <div class="column-item-title">
                    <a href="{% url 'productDescription' pk=product.id %}">
                    {{ product.name }}
                    </a>
                </div>
                <div class="column-item-info">
                    {{ product.description }}
                    <br>
                    {{ product.price }}
                </div>
                <div class="column-item-info">
                    {% load static %}
                    {% if product.suitForVegetarian %}
                        <img src="{% static "images/vegetarian.jpg" %}"
                        alt="Apto para vegetarianos"
                        title="Apto para vegetarianos"
                        height=56px
                        width=56px
                        >
                    {% endif %}
                    {% if product.suitForGlutenIntolerant %}
                        <img src="{% static "images/gluten-free.jpg" %}"
                        alt="Apto para celíacos"
                        title="Apto para celíacos"
                        height=50px
                        width=50px
                        >
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-3">
                {% if product.image %}
                    <img src="{{product.image.url}}"
                    height=150px
                    width=150px>
                {% endif %}
            </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
{% endblock %}
