{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block page_header %}
    <div class="text-left float-left">
        <h1>Productos</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <a href="{% url 'product' %}">
        <button type="button" class="btn btn-success mb-1">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </a>


    {% for product in products %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-sm">

            <div class="column-item-title">
                 <a href="{% url 'productDescription' pk=product.id %}">
                {{ product.name }}
                 </a>
            </div>


            <div class="column-item-action">

                <a class="text-danger" href="{% url 'product-delete' pk=product.id %}">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
            <div class="column-item-info">
                {{ product.description }}
                <br>
                {{ product.price }}

            </div>
            <div class="column-item-info">
             {% load static %}
                {% if product.suitForVegetarian %}
                <img src="{% static "images/vegetarian.jpg" %}"
                alt="Apto para vegetarianos"
                title="Apto para vegetarianos"
                height=56px
                width=56px
                >
                {% endif %}
                {% if product.suitForGlutenIntolerant %}
                <img src="{% static "images/gluten-free.jpg" %}"
                alt="Apto para celíacos"
                title="Apto para celíacos"
                height=50px
                width=50px
                >
                {% endif %}
            </div>

        </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
{% endblock %}
